:root {
    --primary-color: #222831;
    --secondary-color: #393e46;
    --highlight-color: #00adb5;
    --hover-highlight-color: #00CED9;
    --light-bg-color: #eeeeee;
    --front-color: #F7F7F7;
    --white-color: #ffffff;
    --gray-border-color: #E6E6E6;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* -- GLOBALES -- */

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--light-bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

/* 
    ==== index.html ====
*/

/* -- HEADER -- */

.status-bar {
    background-color: var(--primary-color);
    height: auto;
    width: 100%;
    padding: 7px 30px;
}

.boton-salir {
    float: right;
    text-decoration: none;
    color: var(--white-color);
    padding: 7px 10px;
    font-size: 12px;
    background-color: var(--highlight-color);
    border-radius: 5px;
    font-weight: bold;
    transition: ease .4s;
}

.boton-salir:hover {
    background-color: var(--hover-highlight-color);
}

.usuario {
    float: left;
    color: var(--white-color);
    padding: 5px 0;
}

.usuario i {
    margin-right: 10px;
}

/* -- MENU PRINCIPAL -- */

div.grid-container {
    display: grid;
    grid-gap: 18px;
    margin: auto auto;
    width: 50%;
    height: 80%;
    align-items: center;
    max-width: 200px;
}

div.grid-container a {
    background-color: var(--highlight-color);
    border-radius: 10px;
	display: grid;
	padding: 10px;
    text-align: center;
    height: 100%;
    text-decoration: none;
    font-size: 15px;
	color: var(--gray-border-color);
	align-items: center;
	
}


div.grid-container a::before {
    font-size: 48px;
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
}
@media only screen and (min-width: 768px){
	div.grid-container a::before {
		font-size: 60px;
		
		
	}
}


div.grid-container a.ventas:before {
    content: "\f788";
}

div.grid-container a.facturas:before {
    content: "\f15c";
}

div.grid-container a.clientes:before {
    content: "\f0c0";
}

div.grid-container a.proveedores:before {
    content: "\f0d1";
}

div.grid-container a.productos:before {
    content: "\f472";
}

div.grid-container a.creditos:before {
    content: "\f09d";
}

div.grid-container a:hover {
    background-color: var(--hover-highlight-color);
}

@media only screen and (min-width: 500px) {
    div.grid-container {
        grid-template-columns: auto auto;
        width: 60%;
        height: 50%;
        max-width: 400px;
    }
}

@media only screen and (min-width: 768px) {
    div.grid-container {
        grid-template-columns: auto auto auto;
        height: 40%;
        max-width: 800px;
        min-width: 600px;
    }
    div.grid-container a {
        min-width: 150px;
    }
}

/* 
    ==== clientes.html ====
*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}